@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    background-image: url(../wallpaper.jpg);
    background-size: cover;
    font-family: 'Assistant', sans-serif;
}
/* Preloader */
.windlogo{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: center;
    margin-bottom: 20rem;
    float: left;
  }
  .windloading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  #preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 99;
    overflow: hidden;
  }
  .c-loading__anim1 {
    width: 48px;
    height: 48px;
    animation: a-loading__anim1__Rotate 5s infinite linear;
  }
  
  .a-loading__anim1 {
    width: 100%;
    height: 100%;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-left-color: rgba(3, 155, 229, 1);
    border-top-color: rgba(3, 155, 229, 1);
    border-radius: 50%;
    animation: a-loading__anim1__Rotate 720ms infinite
      cubic-bezier(0, 0.2, 1, 0.8);
  }
  
  @keyframes a-loading__anim1__Rotate {
    to {
      transform: rotate(1turn);
    }
  }
  
  .c-loading__anim2 {
    width: 38px;
    height: 38px;
    position: relative;
  }
  
  .a-loading__anim2__dot {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }
  
  .a-loading__anim2__dot:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
  }
  
  .a-loading__anim2__dot1 {
    transform: rotate(225deg);
    animation: a-loading__anim2__dot1__Orbit1 5s infinite;
    animation-delay: 0ms;
  }
  .a-loading__anim2__dot2 {
    transform: rotate(215deg);
    animation: a-loading__anim2__dot1__Orbit2 5s infinite;
    animation-delay: 125ms;
  }
  .a-loading__anim2__dot3 {
    transform: rotate(205deg);
    animation: a-loading__anim2__dot1__Orbit3 5s infinite;
    animation-delay: 250ms;
  }
  .a-loading__anim2__dot4 {
    transform: rotate(195deg);
    animation: a-loading__anim2__dot1__Orbit4 5s infinite;
    animation-delay: 375ms;
  }
  .a-loading__anim2__dot5 {
    transform: rotate(185deg);
    animation: a-loading__anim2__dot1__Orbit5 5s infinite;
    animation-delay: 500ms;
  }
  
  @keyframes a-loading__anim2__dot1__Orbit1 {
    0% {
      transform: rotate(225deg);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    6% {
      transform: rotate(350deg);
      animation-timing-function: linear;
    }
    29% {
      transform: rotate(495deg);
      animation-timing-function: ease-in-out;
    }
    39% {
      transform: rotate(710deg);
      animation-timing-function: linear;
    }
    62% {
      transform: rotate(855deg);
      animation-timing-function: ease-in;
    }
    66% {
      transform: rotate(945deg);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes a-loading__anim2__dot1__Orbit2 {
    0% {
      transform: rotate(215deg);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    6% {
      transform: rotate(340deg);
      animation-timing-function: linear;
    }
    29% {
      transform: rotate(485deg);
      animation-timing-function: ease-in-out;
    }
    39% {
      transform: rotate(700deg);
      animation-timing-function: linear;
    }
    62% {
      transform: rotate(845deg);
      animation-timing-function: ease-in;
    }
    66% {
      transform: rotate(935deg);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes a-loading__anim2__dot1__Orbit3 {
    0% {
      transform: rotate(205deg);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    6% {
      transform: rotate(330deg);
      animation-timing-function: linear;
    }
    29% {
      transform: rotate(475deg);
      animation-timing-function: ease-in-out;
    }
    39% {
      transform: rotate(690deg);
      animation-timing-function: linear;
    }
    62% {
      transform: rotate(835deg);
      animation-timing-function: ease-in;
    }
    66% {
      transform: rotate(925deg);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes a-loading__anim2__dot1__Orbit4 {
    0% {
      transform: rotate(195deg);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    6% {
      transform: rotate(320deg);
      animation-timing-function: linear;
    }
    29% {
      transform: rotate(465deg);
      animation-timing-function: ease-in-out;
    }
    39% {
      transform: rotate(680deg);
      animation-timing-function: linear;
    }
    62% {
      transform: rotate(825deg);
      animation-timing-function: ease-in;
    }
    66% {
      transform: rotate(915deg);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes a-loading__anim2__dot1__Orbit5 {
    0% {
      transform: rotate(185deg);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    6% {
      transform: rotate(310deg);
      animation-timing-function: linear;
    }
    29% {
      transform: rotate(455deg);
      animation-timing-function: ease-in-out;
    }
    39% {
      transform: rotate(670deg);
      animation-timing-function: linear;
    }
    62% {
      transform: rotate(815deg);
      animation-timing-function: ease-in;
    }
    66% {
      transform: rotate(905deg);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    67% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
.sidenavbar{
    width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
}
.sidenavbar ul{
    width: 5rem;
}
.sidenavbar ul li{
    list-style: none;
    color: white;
    width: 4rem;
    text-align: center;
    padding: 5px;
}
.sidenavbar ul li:hover{
    background-color: rgb(255, 255,255, 0.11);
}
.centertaskbar{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.roundtaskbar{
    border: 0px solid transparent;
    border-radius: 10px;
    text-align: center;
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;

}
.roundtaskbar ul{
    display: flex;
}
.roundtaskbar ul li{
    list-style: none;
}
.roundtaskbar ul li:hover{
    background-color: rgb(255, 255,255, 0.5);
    
}
.taskicon{
    margin: 8px;
    display: flex;
}
.otherico{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #d4d4d4;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
}
.otherico ul{
    display: flex;
}
.otherico ul li{
    list-style: none;
    margin: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.otherico ul li a{
    display: flex;
}
#startmewnu{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    width: 40rem;
    height: 25rem;
    background-color: #0b2f50;
    margin: 0px auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-out;
    border-radius: 10px;
    overflow: hidden;
}
#startmewnu:target{
    visibility: visible;
    opacity: 1;
    bottom: 51px;
}
.startmenuin{
    position: relative;
    z-index: 1;

}
.windowclosdebtn{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
/* MS EDGE  */
#msedge{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s step-end;
}
#msedge:target{
    visibility: visible;
    opacity: 1;
}
.msedgein{
    position: relative;
    z-index: 1;
}
.inframes{
    width: 100%;
    height: 100vh;
    border: 0px;
}
#mesgcentre{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #d7d7d7;
    visibility: hidden;
    opacity: 0;
    transition: ease-out 0.2s;
    width: 16rem;
    height: 10rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mesgcentre:target{
    visibility: visible;
    opacity: 1;
    bottom: 51px;
}
.msgin{
    position: relative;
    z-index: 1;
}
/* Volume  */
#volume{
  position: fixed;
    bottom: 0px;
    right: 15px;
    background-color: #d7d7d7;
    visibility: hidden;
    opacity: 0;
    transition: ease-out 0.2s;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
}
#volume:target{
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}
.volumein{
  position: relative;
  z-index: 1;
}
/* Window Settings */
.window{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: step-end 0.2s;
  background-color: #bebebe;
}
.windonav{
    width: 100%;
    display: flex;
    padding: 6px;
}
.windowname{
    font-size: 16px;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}
.closebtns{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}
.closebtns a{
    padding: 5px 5px;
    display: flex;
    color: black;
}
.closebtns a:hover{
    background-color: rgb(255, 255,255, 0.5);
}
/* Window end  */
#mspaint:target{
    visibility: visible;
    opacity: 1;
}
.painin{
    position: relative;
    z-index: 1;
}
#vscode{
    background-color: #252526;
}
#vscode:target{
    visibility: visible;
    opacity: 1;
}
.vodein{
    position: relative;
    z-index: 1;
}
#explorer:target{
    visibility: visible;
    opacity: 1;
}
.soon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    font-size: 3rem;
    color: white;
}
.leftapplist{
    height: 23rem;
    width: 15rem;
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
    overflow: scroll;
    overflow-x: hidden;
    float: left;
}
.leftapplist::-webkit-scrollbar{
    width: 0px;
}
.leftapplist::-webkit-scrollbar-track {
    background: transparent;
  }
.leftapplist::-webkit-scrollbar-thumb {
    background: transparent;
  }
.leftapplist::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
.suggestion{
    height: 2rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.suggestio{
    height: 2rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.suggestion:hover{
    background-color: rgb(255, 255,255, 0.12);
}
.letterapps{
    padding: 10px;
    font-size: 1rem;
    border: 2px white solid;
    border-radius: 7px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.applists{
    height: 2.7rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    color: white;
    text-decoration: none;
    cursor: default;
}
.applists:hover{
    background-color: rgb(255, 255,255, 0.12);
}
.linkref{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}
.pinned{
    height: 23rem;
    width: 10rem;
    margin-top: 1rem;
    float: left;
}
.lines{
    width: 9rem;
    height: 5rem;
    display: flex;
    gap: 1rem;
}
.rows{
    width: 3rem;
    height: 4rem;
    color: white;
    padding: 12px;
    cursor: default;
}
.rows:hover{
    background-color: rgb(255, 255,255, 0.12);
}
.link2{
    color: white;
    cursor: default;
    text-decoration: none;
    text-align: center;
}

#thispc:target{
    visibility: visible;
    opacity: 1;
}
.pcin{
    position: relative;
    z-index: 1;
}
#recyclebin:target{
    visibility: visible;
    opacity: 1;
}
#patatap:target{
  visibility: visible;
    opacity: 1;
}
#bench{
  background-color: #252526;
}
#bench:target{
  visibility: visible;
    opacity: 1;
}
#photoshop{
  background-color: #252526;
}
#photoshop:target{
  visibility: visible;
  opacity: 1;
}
#whiteboard{
  background-color: #d4d4d4;
}
#whiteboard:target{
  visibility: visible;
  opacity: 1;
}