*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg-white.png);
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.taskbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 236, 236);
    border-radius:13px;
    margin: 0rem 1rem;
}
.taskbar img{
    margin: 6px;
    padding: 8px;
    border-radius: 12px;
}
.taskbar img:hover{
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
}
.wifibat{
    height: 33px;
    border-radius: 12px;
}
.wifibat:hover{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}
.ionicon3{
    padding: 10px;
    width: 22px !important;
}
#startmenu{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    height: 35rem;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: -600px;
    left: 0;
    right: 0;
    transition: ease-in 0.3s all;
}
.startshow{
    bottom: 125px !important;
}
.search{
    width: auto;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    outline: none;
    border: 0px solid transparent;
    width: 35rem;
    padding: 10px;
    border-radius: 9px;
    background: #e7e8ec;
}
.dashboard{
    float: left;
    width: 33rem;
    padding: 1.5rem;
}
.updashboard{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.updashboard button{
    outline: none;
    border: 0px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 6px;
}
.upwheather{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upwheather div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wheather{
    width: 15rem;
    background-image: url(../images/alex-machado-80sv993lUKI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 6rem;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.wheatherarea{
    width: 4rem;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    font-weight: bolder;
    float: left;
}
.wheathertemp{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 30px;
}
.stickynote{
    margin-top: 14px;
    width: 15rem;
    background-color: rgb(238, 238, 238,0.8);
    height: 15rem;
    border-radius: 10px;
    padding: 10px;
}
.notes{
    border-radius: 10px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
}
.noteshead{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 900;
}
.note{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    gap: 5px;
}
.newnotes{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: max-content;
    position: relative;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    cursor: pointer;
}
.ldashboard{
    float: left;
}
.rdashboard{
    margin-left: 10px;
}
.downdashboard{
    display: flex;
}
.eventscalender{
    width: 15rem;
    height: 20rem;
    background: rgba(228, 224, 224, 0.9);
    padding: 10px;
    border-radius: 8px;
}
.dateday{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.dates{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 34px;
    gap: 10px;
}
.dates p{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.events{
    width: 12rem;
    height: 3rem;
    background-color: rgb(240, 237, 233);
    border-radius: 12px;
    padding: 12px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.events div{
    width: 2px;
    margin: 0;
    padding: 0;
    height: 2.5rem;
    border-left: 2px solid lightgreen;
    margin-right: 7px;
}
.listevents{
    margin-top: 30px;
}
.apps{
    padding: 1.5rem;
}
.appspinned{
    width: 20rem;
    float: left;
}
.pinned{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}
.pinnedapps{
    display: flex;
    align-items: center;
    gap: 45px;
    justify-content: flex-start;
}
.pinnedapp{
    display: grid;
    align-items: center;
    justify-content: center;
}
.pinnedapp div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.userinfo{
    width: 60rem;
    height: 4rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #e7e8ec;
    float: left;
}
.user{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 2rem;
    height: inherit;
    gap: 10px;
    float: left;
}
.user img{
    border-radius: 10rem;
}
.userbtn{
    float: left;
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: center;
    gap: 1rem;
}
.ubtn{
    width: 5rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.ubtn:hover{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
}
.ubtn div{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Battery Level Indicator  */

#status {
	display:flex;
	align-items:center;
	justify-content:center;

}

.status-info p {
	align-self:center;
	padding:25px;
}

#charge {
	display:block;
	width:20px;
	height:200px;
	padding:0 15px;
}

.hidden {display:none;}

.meta{
	display:block;
	position:absolute;
	bottom:0;
	width:98%;
	padding:10px 1%;
	margin:0;
}

#charge-status{
	transition:.4s all;
	opacity:1;
}

.bat-change{
	opacity:.2;
}

a {
	color:#231f20;
}

@media screen and (max-width:800px){

	#charge {
		transform:rotate(-90deg);
	}

	.meta {
		text-align:center;
		width:96%;
		padding:2%;
	}
}

/* Battery Level Indicator */
.rtaskbar{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.rtaskbar img:hover,p:hover{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    cursor: pointer;
}
.rtaskiconp{
    padding: 6px 12px;
}



/* Window Settings */

#edge, #settings, #explorer,#photoshop,#ylight,#revillage{
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background-color: #e7e8ec;
    transition: 0.2s all ease-in;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.windowshow{
    visibility: visible !important;
}
iframe{
    width: 100%;
    height: 95.5%;
}
.actionbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.actionbar svg{
    padding: 4px 12px;
    font-size: 10px;
}
.actionbar svg:hover{
    background-color: rgba(209, 202, 202, 0.4);
}
.ionicon:hover{
    background-color: rgb(255, 29, 29) !important;
}
.soon{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

/*  */

/* Sidebar Apps  */

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    margin-left: 10px;
    margin-top: 7px;
}
.sideapps{
    width: 4rem;
    height: auto;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
    font-size: 13px;
}
.sideapps:hover{
    background-color: rgba( 255, 255, 255, 0.2 );
}
#phone{
    display: none;
}
#phone p:hover{
    background: none;

}
@media (max-width:1040px) {
    
    #desktop{
        display: none;
    }    
    #phone{
        display: block;
        width: auto;
        height: inherit;
        background-color: black;
        color: whitesmoke;
        font-size: 6vw;
        text-align: center;
        padding-top:10%;
        align-items: center;
    }
    #anyway{
        width: 10rem;
        background-color: brown;
        color: whitesmoke;
        padding: 1rem;
        outline: none;
        border: 0px solid transparent;
        font-weight: bolder;
        cursor: pointer;
    }
}
    /* Quick Settings */
#quicksettings{
    height: 34rem;
    width: 33rem;
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    position: fixed;
    bottom: 74px;
    right: -600px;
    transition: 0.4s ease-in;
}
.quicksettingsshow{
    right: 18px !important;
}
.quicksettingsheader{
    height: 2rem;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.middletoolbar{
    padding: 12px;
    gap: 10px;
}
.brightnesscontrol, .volumecontrol{
    width: 16rem;
    height: 1rem;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}
.ionicon1{
    width: 25px;
}
#brightness, #volume{
    -webkit-appearance: none;
    border-radius: 10px; 
    background: grey;
    height: 3px;   
    width: 16rem;
}
#brightness::-webkit-slider-thumb{
    -webkit-appearance: none;
  border-radius: 3rem;
  background-color: white;
  border: 3px solid rgb(69, 69, 226);
  height: 18px;
  width: 18px;
}
#volume::-webkit-slider-thumb{
    -webkit-appearance: none;
  border-radius: 3rem;
  background-color: white;
  border: 3px solid rgb(69, 69, 226);
  height: 18px;
  width: 18px;
}
.controlcenter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.5rem;
    gap: 10px;
    padding-top: 10px;
}
.controlbtn{
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    gap: 15px;
    border-radius: 9px;
    padding: 0px 10px;
    height: 86px;
}
.controlbtnclk{
    background-color: #667ef8 !important;
    color: white;
}
.midbor{
    border-left: 1px solid rgb(211, 211, 211);
    height: 5.2rem;
}
.ionicon2{
    width: 20px !important;
}
.pcstatus{
    height: 13rem;
    width: 17.5rem;
    background: rgba( 255, 255, 255, 0.7 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}
.leftmiddletoolbar{
    float: left;
}
.rightmiddletoolbar{
    float: left;
    margin-left: 20px;
}
.mdp{
    background-image: url(../images/mbg.jpg);
    height: 6rem;
    width: 6rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    
}
.currentmusic{
    text-align: center;
    height: 13rem;
    width: 10.5rem;
    padding: 8px;
    border-radius: 8px;
    background: rgba( 255, 255, 255, 0.7 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    
}
.umdp{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.mname{
    display: grid;
    align-items: center;
    justify-content: flex-start;
}
.mname h5{
    text-align: left;
    color: rgb(173, 173, 173);
    font-weight: 500;
}
.mcontrol{
    width: 100%;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 13px;
}
.ionicon44{
    width: 30px;
}
.ionicon4{
    width: 20px;
}
.connectionmanager{
    height: 14rem;
    width: 11.5rem;
    background: rgba( 255, 255, 255, 0.7 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    margin-top: 15px;
    border-radius: 8px;

}
.connectionmanager h4{
    padding: 13px;
    font-size: 13px;
    text-align: center;
}
.connection{
    padding: 11px 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    cursor: pointer;
}
.connected{
    display: grid;
    align-items: center;
    justify-content: flex-start;
}
.connected h5{
    font-size: 14px;
    color: black;
}
.connected{
    color: rgb(173, 173, 173);
}