@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
  padding: 0;
  margin: 0;
  background: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}
p{
    margin: 0;
}
.navbar{
    background-color: rgb(229, 229, 229);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 50px; */
}
.leftbar{
    width: 30%;
    float: left;
}
.leftbar ul{    
    display: flex;
    justify-content: flex-start;
    padding: 0;
    align-items: center;
    margin: 0;
}
.leftbar ul li{    
    list-style: none;
    padding: 5px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin: 4px;

}
.leftbar ul li:hover{    
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}


.midbar{
    width: 40%;
    float: left;
}
.midbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.midbar ul li{
    list-style: none;
    padding: 5px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin: 4px;
}
.midbar ul li:hover{
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}

.rightbar{
    float: left;
    width: 30%;
}
.rightbar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 55px;
    padding-right: 8px;
}
.rightbar ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 7px;
    padding: 7px;
    margin: 4px;
}
.rightbar ul li:hover{
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}
#startmenu{
    position: fixed;
    left: 10px;
    bottom: -500px;
    width: 46rem;
    height: 33rem;
    background-color: #cfcccc;
    visibility: hidden;
    transition: all 0.4s ease-in;
    border-radius: 9px;
}
.taskshow{
    bottom: 63px !important;
    visibility: visible !important;
}
.leftmenu{
    width: 50%;
    float: left;
    height:33rem;
    background-color: #e0e3e4;
    text-align: center;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}
.rightmenu{
    width: 50%;
    float: left;
    background: rgba(165, 202, 216, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    height: 33rem;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.searchapps{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.searchapps input{
    width: 19rem;
    font-size: 13px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 7px;
    border: 3px solid transparent;
    border-bottom: 3px solid rgb(79, 79, 228);
    outline: none;
}
.listofapps{
    overflow: scroll;
    overflow-x: hidden;
    height: 27.4rem;
}
.listofapps::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}
.listofapps::-webkit-scrollbar-track{
    background-color: transparent;
}
.listofapps::-webkit-scrollbar-thumb{
    background-color: transparent;
    
}

.firstbar{
    display: flex;
    justify-content: space-between;
    padding: 3px 23px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.firstbar button{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f1fa;
    border: 1px solid #afadad;
    border-radius: 3px;
}

.liapps{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 32px;

}
.liapps:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
/* User data  */
.userinfo{
    width: 100%;
    height: 9.5rem;
    border-bottom: 2px solid rgba(116, 116, 116, 0.39);
}
.userimg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    bottom: 3rem;
}
.userimg img{
    border-radius: 3rem;
}
.userdata{
    display: grid;
    text-align: center;
    position: relative;
    bottom: 50px;
}
.userbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    position: relative;
    bottom: 57px;
}
.userdata span{
    font-weight: 700;
    text-transform: uppercase;
}
.userbtn button{
    border: 0px solid transparent;
    background-color: transparent;
    color: black;
    font-weight: lighter;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 15px;
}
.userbtn button:hover{
    background-color: rgba(255, 255, 255, 0.39);
}
.widgets{
    position: relative;
    bottom: 45px;
    padding: 8px;
    display: flex;
    gap: 13px;
}
.weather{
    background-image: url(../images/x-xtgONQzGgOE-unsplash.jpg);
    width: 9rem;
    height: 9rem;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.celcius{
    width: 100%;
    font-size: 3rem;
    font-weight: 800;
}
.wcondition{
    width: 100%;
}
.warea{
    margin-top: 13px;
    font-size: 14px;
}
.todos{
    width: 10rem;
    height: 9rem;
    border-radius: 10px;
    color: white;
    padding: 10px; 
    background-color: rgb(140, 141, 207);
}
.todotop{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.todo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    background-color: rgb(84, 89, 115,0.3);
    border-radius: 8px;
    margin: 6px 0px;
}
.todo input{
    outline: none;
    padding: 3px;
    border: 3px solid black;
}
.officeapps{
    width: 10rem;
    height: 9rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
.offdown{
    width: 9rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.officeapp{
    padding: 1rem;
    margin: 5px;
    border-radius: 8px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209 213 219);
}

.revil{
    width: 10rem;
    height: 9rem;
    
}


/* Volume HUD  */
#volumehud{
    position: fixed;
    bottom: 63px;
    right: -300px;
    visibility: hidden;
    width: 21rem;
    height: 10.2rem;
    background: #cbd1d7;
    border-radius: 13px;
    transition: all 0.6s ease-in;
}
.vlmapp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 3px;
}
.vlmvlmslider {
    -webkit-appearance: none;
    width: 16rem;
    height: 6px;
    outline: none;
    border-radius: 13px;
}
.vlmvlmslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    position: relative;
    cursor: pointer;
    border: 9px solid rgb(30, 79, 236);
    border-radius: 13px;

}
.mastervlm{
    height: 2rem;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px 3px;
    background-color: rgba(165, 202, 216, 0.85);
}
.mastervlm span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.volumeshow{
    right: 30px !important;
    visibility: visible !important;
}

