@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
  padding: 0;
  margin: 0;
  background: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}
p{
    margin: 0;
}
.navbar{
    background-color: rgb(229, 229, 229);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: 50px; */
}
.leftbar{
    width: 30%;
    float: left;
}
.leftbar ul{    
    display: flex;
    justify-content: flex-start;
    padding: 0;
    align-items: center;
    margin: 0;
}
.leftbar ul li{    
    list-style: none;
    padding: 5px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin: 4px;

}
.leftbar ul li:hover{    
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}


.midbar{
    width: 40%;
    float: left;
}
.midbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.midbar ul li{
    list-style: none;
    padding: 5px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    margin: 4px;
}
.midbar ul li:hover{
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}

.rightbar{
    float: left;
    width: 30%;
}
.rightbar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 55px;
    padding-right: 8px;
}
.rightbar ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 7px;
    padding: 7px;
    margin: 4px;
}
.rightbar ul li:hover{
    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}
#startmenu{
    position: fixed;
    left: 10px;
    bottom: -500px;
    width: 46rem;
    height: 33rem;
    background-color: #cfcccc;
    visibility: hidden;
    transition: all 0.4s ease-in;
    border-radius: 9px;
}
.taskshow{
    bottom: 63px !important;
    visibility: visible !important;
}
.leftmenu{
    width: 50%;
    float: left;
    height:33rem;
    background-color: #e0e3e4;
    text-align: center;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}
.rightmenu{
    width: 50%;
    float: left;
    background: rgba(165, 202, 216, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    height: 33rem;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.searchapps{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.searchapps input{
    width: 19rem;
    font-size: 13px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 7px;
    border: 3px solid transparent;
    border-bottom: 3px solid rgb(79, 79, 228);
    outline: none;
}
.listofapps{
    overflow: scroll;
    overflow-x: hidden;
    height: 27.4rem;
}
.listofapps::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
}
.listofapps::-webkit-scrollbar-track{
    background-color: transparent;
}
.listofapps::-webkit-scrollbar-thumb{
    background-color: transparent;
    
}

.firstbar{
    display: flex;
    justify-content: space-between;
    padding: 3px 23px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.firstbar button{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f1fa;
    border: 1px solid #afadad;
    border-radius: 3px;
}

.liapps, .liappss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 32px;

}
.liapp a{
    text-decoration: none;
    color: black;
}
.liapps:hover, .liappss:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
/* User data  */
.userinfo{
    width: 100%;
    height: 9.5rem;
    border-bottom: 2px solid rgba(116, 116, 116, 0.39);
}
.userimg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    bottom: 3rem;
}
.userimg img{
    border-radius: 3rem;
}
.userdata{
    display: grid;
    text-align: center;
    position: relative;
    bottom: 50px;
}
.userbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    position: relative;
    bottom: 57px;
}
.userdata span{
    font-weight: 700;
    text-transform: uppercase;
}
.userbtn button{
    border: 0px solid transparent;
    background-color: transparent;
    color: black;
    font-weight: lighter;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 15px;
}
.userbtn button:hover{
    background-color: rgba(255, 255, 255, 0.39);
}
.widgets{
    padding: 8px;
    display: flex;
    gap: 13px;
}
.weather{
    background-image: url(../images/pexels-hendrik-b-744318.jpg);
    background-position: center;
    background-size: cover;
    width: 9rem;
    height: 9rem;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.weather h4{
    text-align: center;
}
.control{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control svg{
    padding: 3px;
    border-radius: 10px;
}
.control svg:hover{
    background-color: rgb(225, 225, 225,0.4);
}

.todos{
    width: 10rem;
    height: 9rem;
    border-radius: 10px;
    color: white;
    padding: 10px; 
    background-color: rgb(140, 141, 207);
}
.todotop{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.todo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    background-color: rgb(84, 89, 115,0.3);
    border-radius: 8px;
    margin: 6px 0px;
}
.todo input{
    outline: none;
    padding: 3px;
    border: 3px solid black;
}
.officeapps{
    width: 10rem;
    height: 9rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
.offdown{
    width: 9rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.officeapp{
    padding: 1rem;
    margin: 5px;
    border-radius: 8px;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209 213 219);
}

.revil{
    width: 11rem;
    height: 9rem;
    border-radius: 10px;
    background-image: url(../images/re_village.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    color: rgb(255, 255, 255);
}

.scrwidget{
    overflow: scroll;
    bottom: 45px;
    position: relative;
    height: 23.4rem;
    overflow-x: hidden;
}
.scrwidget::-webkit-scrollbar{
    width: 0px;
}
.tomorrow{
    padding: 10px;
}

/* Volume HUD  */
#volumehud{
    position: fixed;
    bottom: 63px;
    right: -300px;
    visibility: hidden;
    width: 21rem;
    height: 10.2rem;
    background: #cbd1d7;
    border-radius: 13px;
    transition: all 0.6s ease-in;
}
.vlmapp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 3px;
}
.vlmvlmslider {
    -webkit-appearance: none;
    width: 16rem;
    height: 6px;
    outline: none;
    border-radius: 13px;
}
.vlmvlmslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    position: relative;
    cursor: pointer;
    border: 9px solid rgb(30, 79, 236);
    border-radius: 13px;

}
.mastervlm{
    height: 2rem;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px 3px;
    background-color: rgba(165, 202, 216, 0.85);
}
.mastervlm span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.volumeshow{
    right: 30px !important;
    visibility: visible !important;
}

/* Window settings Start */
.winheader{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.winheader svg{
    padding: 4px;
}
.cbtn{
    margin-left: 3px;
}
.cbtn:hover{
    background-color: rgb(255, 0, 0);
}
.obtn{
    margin: 0px 3px;
}
.obtn:hover{
    background-color: rgba(255, 255, 255, 0.65);
}
.windowframe{
    width: 100%;
    height: 100vh;
}
.windowshow{
    visibility: visible !important;
}

/* Window settings End */

#edge, #vscode, #photoshop, #pc, #poki, #bbench, #patatap,#files,#minecraft{
    width: 100%;
    height: inherit;
    position: absolute;
    visibility: hidden;
    background-color: #eeeeee;
    transition: all 0.4s ease-in-out;
}


/* Side Bar  */

.sidebar{
    position:absolute;
    top: -13px;
    left: -36px;
    
}
.sidebar ul a li{
    list-style: none;
    padding: 11px 4px;
    width: 77px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}
.sidebar ul li:hover{
    background-color: rgb(225, 225, 225,0.2);
}
.sidebar ul a{
    font-size: 12px;
    cursor: pointer;
}

.soon{
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

#searchmenu{
    position: fixed;
    left: 20px;
    bottom: -500px;
    width: 20rem;
    height: 20rem;
    background-color: #cfcccc;
    visibility: hidden;
    transition: all 0.4s ease-in;
    border-radius: 9px;
}
.searcharea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searcharea input{
    margin: 10px;
    width: 17rem;
    height: 2rem;
    border-bottom: 3px solid blue;
    outline: none;
    border: 3px solid transparent;
    padding: 5px;
    font-size: 17px;
}
.myul{
    margin: 0;
    padding: 0;
}
.apparea{
    overflow-y: scroll;
    height: 15.8rem;
}
.apparea::-webkit-scrollbar{
    width: 1px;
    background-color: transparent;
}
.apparea::-webkit-scrollbar-track{
    background-color: transparent;
}
.apparea::-webkit-scrollbar-thumb{
    background-color: gray;
}

#revillage{
    width: 100%;
    height: 100vh;
    position: absolute;
    visibility: hidden;
    background: transparent;
    transition: all 0.2s ease-in;
}
.revdo{
    width: 100%;
}
.revdo video{
    width: 100%;
}

.vilback{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    height: inherit;
    display: grid;
    justify-content: center;
    align-items: center;
}
.vilmenu{
    text-align: center;
    display: grid;
}
.vilimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vilbtn{
    outline: none;
    border: 0px solid transparent;
    background: transparent;
    padding: 1rem;
    margin: 0px;
    color: white;
    font-size: 1rem;
}

.maingamescreen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100vh;
}
.maingamescreen iframe{
    width: 100%;
    height: 100vh;

}
.gameclsbtn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: black;
    color: white;
    padding: 4px;
    outline: none;
    border: 0px solid transparent;
}

#contextmenu{
	background-color:rgb(224, 221, 221);
	width:210px;
	display:none;
	position: fixed;
    border-radius: 7px;
    padding: 7px;
}
.menusa{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.menusa:hover{
    background-color: rgb(225, 225, 225);
    opacity: 10;
}
.menuhr{
    margin: 2px 0px;
    padding: 0;
}
.minimize{
    width: 30rem !important;
    height: 20rem !important;
}
 /* File Explorer */

.head{
    background-color: white;
    height: 4rem;
    border-bottom: 1px solid rgb(197, 192, 192);
    margin-top: 1rem;
}
.lefthead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.headinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding: 6px;
    position: absolute;
    top: -2px;
    left: 3px;
}
.tabs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 10em;
    padding: 1px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    line-height: 48px;
}
.addtabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
}
.addtabs:hover{
    box-shadow: 4px 6px 31px 0px rgba(0,0,0,0.1);
}
.downsearchping{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pingnation svg{
    padding: 7px;
    border-radius: 9px;
}
.pingnation svg:hover{
    box-shadow: 4px 6px 71px 0px whitesmoke;
}
.searchphotos input{
    width: 28rem;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(197, 192, 192);
    border-radius: 10px;
    height: 1.3rem;
}
.more svg{
    padding: 7px;
    margin-top: 9px;
    border-radius: 9px;
    margin-right: 8px;
}
.more svg:hover{
    box-shadow: 4px 6px 71px 0px whitesmoke;
}
.leftsidebar{
    width: 20%;
    height: 90vh;
    background-color: white; 
    padding: 12px;
    float: left;
    border-right: 1px solid rgb(197, 192, 192);
}
.dropdowns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
}
.dropdownicons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.dropdowns div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 10rem;
}
.dropdowns svg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 35px;
    margin-top: 12px;
    gap: 3px;
    border-radius: 12px;
    cursor: pointer;
}
.dropdown:hover{
    background-color: #e8ebf3;
}
.folderlocation{
    border: 0.1px solid rgb(190, 190, 190);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30rem;
    padding: 7px;
    border-radius: 10px;
}
.location{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 19px;
}
.filefolder{
    background-color: white;

}
.headfolder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-bottom: 1px solid rgb(197, 192, 192);

}
.tollbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.tools{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: min-content;
    padding: 10px;
    cursor: pointer;
}
#files{
background: rgba(94, 154, 228, 0.64) !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.3px);
-webkit-backdrop-filter: blur(4.3px);
}
.filess{
    height: 100vh;
    background-color: white;
    display: flex;
    gap: 20px;
}

.files{
    padding: 10px;
    gap: 7px;
    text-align: center;
    cursor: pointer;
}
.files img{
    border-radius: 9px;
}

/* Minecraft  */
.launcher{
    width: 100%;
    height: 100vh;
    display: block;
    color: white;
}
.blackback{
    background-color: #202020;
    width: 20%;
    height: 100vh;
    float: left;
}
.updowna{
    display: grid;
    align-items: center;
}
.dropdn{
    width: 100%;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 5px solid transparent;
}
.drpdn:hover{
    background-color: rgb(225, 225, 225,0.7);
}
.dropdn div{
    margin-left: 10px;
}
.settings{
    position: absolute;
    bottom: 0;
    left: 0;
    width: min-content;
}
.activedor{
    border-left: 5px solid green;
}
.gameheader{
    width: 100%;
    height: 6.7rem;
    background-color: #202020;
    
}
.gameheader h5{
    margin-left: 19rem;
    padding-top: 1.4rem;
}
.gameheader ul{
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.gameheader ul li{
    list-style: none;
    padding: 8px;
}
.activetab{
    border-bottom: 3px solid green;
}
.startgame{
    width: 100%;
    height: 4rem;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.gamewallpaper{
    height: 30rem;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: #080808;
}
.version{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 3px;
}
.playbtn{
    padding: 14px;
    background: green;
    outline: none;
    border: 0px solid transparent;
    border-radius: 8px;
    width: 10rem;
    color: white;
    font-size: 1rem;
    position: relative;
    bottom: 25px;
    
}



  li {
    list-style-type: none;
  }
  
  .a-link {
    text-decoration: none;
    color: gray;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .logo img {
    width: 100%;
  }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main-menu {
    position: relative;
  }
  .main-menu .logo {
    width: 500px;
    margin-bottom: 2rem;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .a-link {
    cursor: pointer;
  }
  .menu .a-link {
    position: relative;
  }
  
  .a-link .border-bottom {
    visibility: hidden;
    width: 250px;
    padding: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    );
    /* Position the tooltip */
    position: absolute;
    left: -4rem;
    bottom: 0.5rem;
    z-index: 1;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  }
  
  .a-link:hover .border-bottom {
    visibility: visible;
  }
  .a-link li {
    color: rgb(187, 187, 187);
    font-size: 1.5rem;
    margin: 0.5rem 0;
    position: relative;
  }
  .a-link li:hover {
    color: white;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  }
  .bottom-text {
    position: fixed;
    bottom: 1rem;
    width: max-content;
    left: 0;
    right: 0;
    margin: auto;
    color: rgb(214, 214, 214);
    font-size: 1.4rem;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    visibility: hidden;
  }
  .a-link:hover .bottom-text {
    visibility: visible;
  }
  
  .copyright {
    color: rgb(172, 172, 172);
    position: fixed;
    bottom: 2rem;
  }
  .credit{
    color: rgb(172, 172, 172);
    position: fixed;
    bottom: 1rem;
  }
  /* new game */
  .new-game-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .new-game-container h2:first-child {
    color: white;
    margin-bottom: 4rem;
    font-weight: 400;
  }
  .new-game-container .a-link:hover {
    width: max-content;
    text-align: center;
    width: 300px;
    border-inline: 0.5px solid rgba(224, 224, 224, 1);
    background: rgb(224, 224, 224);
    background: -moz-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 );
  }
  
  .new-game-container .bottom-text {
    position: fixed;
    width: max-content;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20%;
    color: rgb(214, 214, 214);
    font-size: 1.4rem;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    visibility: hidden;
  }
  .a-link:hover .bottom-text {
    visibility: visible;
  }
  
  .two-col {
    display: flex;
    background: rgb(33, 39, 44);
    background: linear-gradient(
      90deg,
      rgba(33, 39, 44, 0) 0%,
      rgba(33, 39, 44, 1) 49%,
      rgba(33, 39, 44, 0) 100%
    );
    padding: 1rem;
    width: 700px;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
  .two-col h2 {
    font-weight: 200;
    margin-left: 0.5rem;
  }
  .two-col .ok,
  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
    color: rgb(223, 223, 223);
    cursor: pointer;
  }
  .two-col img {
    width: 35px;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    /* min-height: 100%; */
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
  }
  
  /* Preloader */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 99;
  }
  
  .flex-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(190, 190, 190);
    font-weight: 500;
    font-size: 1.5rem;
  }
  #status1 {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
  }
  .flex-img img {
    width: 500px;
  }
  #status {
    animation: fadeInAnimation ease-in-out 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* continue game */
  
  .continue-container {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal {
    background-color: rgb(15, 15, 15);
    padding: 2rem;
    width: 500px;
    text-align: center;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.8);
  }
  .modal p {
    color: rgb(187, 187, 187);
    font-size: 1.4rem;
  }
  .two-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(187, 187, 187);
    margin-top: 5rem;
  }
  .two-row li {
    margin-bottom: 1.5rem;
    padding: 0.5rem 0;
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
  
  .two-row li:hover {
    width: max-content;
    text-align: center;
    width: 200px;
    border-inline: 0.5px solid rgba(224, 224, 224, 1);
    background: rgb(224, 224, 224);
    background: -moz-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 1) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 );
  }
  
  /* bonuses */
  .bonuses-container {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .bonuses-container .two-col {
    padding-top: 1.2rem;
  }
  .two-cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
    gap: 200px;
  }
  .left-col h1 {
    color: white;
    font-weight: 400;
    margin-bottom: 1.6rem;
  }
  .left-col li {
    padding: 0.5rem;
    color: rgb(187, 187, 187);
    width: 300px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .left-col li:hover {
    width: max-content;
    width: 300px;
    color: rgb(248, 248, 248);
    border-inline: 0.5px solid rgb(167, 167, 167);
    background: rgb(224, 224, 224);
    background: -moz-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 0.8) 33%,
      rgba(10, 10, 10, 0.7) 46%,
      rgba(0, 0, 0, 0.7) 55%,
      rgba(33, 33, 33, 0.8) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(245, 245, 245, 0.5) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 0.8) 33%,
      rgba(10, 10, 10, 0.7) 46%,
      rgba(0, 0, 0, 0.7) 55%,
      rgba(33, 33, 33, 0.8) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(245, 245, 245, 0.5) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 0.8) 33%,
      rgba(10, 10, 10, 0.7) 46%,
      rgba(0, 0, 0, 0.7) 55%,
      rgba(33, 33, 33, 0.8) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(245, 245, 245, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 );
  }
  .right-col img {
    width: 75%;
    opacity: 0.8;
  }
  /* option */
  .option-container {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .option-container .two-col {
    padding-top: 3rem;
  }
  .option-container .two-cols {
    gap: 400px;
  }
  .option-container .left-col li {
    width: 300px;
  }
  .option-container .left-col li:hover {
    border-inline: 0.5px solid rgba(224, 224, 224, 0.6);
    background: rgb(224, 224, 224);
    background: -moz-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 0.5) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 0.5) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 );
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table td {
    color: rgb(207, 207, 207);
    font-size: 1.2rem;
    padding: 0.6rem;
  }
  table tr {
    border-bottom: 2px solid rgba(199, 199, 199, 0.2);
  }
  .mid-text {
    text-align: center;
  }
  table tr:hover {
    cursor: pointer;
  
    border-inline: 0.5px solid rgba(224, 224, 224, 1);
    background: rgb(224, 224, 224);
    background: -moz-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 0.5) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 0.5) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(224, 224, 224, 1) 0%,
      rgba(54, 56, 60, 1) 5%,
      rgba(25, 25, 25, 1) 33%,
      rgba(10, 10, 10, 1) 46%,
      rgba(0, 0, 0, 1) 55%,
      rgba(33, 33, 33, 1) 76%,
      rgba(54, 56, 60, 1) 95%,
      rgba(224, 224, 224, 0.5) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 );
  }
  .option-container .bottom-text {
    position: fixed;
    bottom: 3.7rem;
    width: max-content;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    color: rgb(214, 214, 214);
    font-size: 1.4rem;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    z-index: 99;
  }
  #nav-two li:hover .bottom-text2 {
    visibility: visible !important;
  }
  /* load game */
  .load-game {
    background-color: #101213;
    position: relative;
    z-index: 1111;
    width: 100%;
    height: 100vh;
  }
  .load-container {
    background-image: url(../images/loadgame.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.5rem;
    width: 60%;
    opacity: 0.8;
    margin: auto;
    height: 90%;
    font-family: "Playfair Display", serif;
    color: #413a30;
  }
  .load-header {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
  .save-slot {
    display: flex;
    /* border-top: 1px groove #413a30;
    border-bottom: 1px groove #413a30; */
    padding: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
  }
  .save-slot:hover {
    background-color: #dfd4b8;
  }
  .save-slot img {
    border-radius: 7px;
    width: 100px;
  }
  .three-row {
    font-weight: bold;
  }
  .two-rows {
    font-weight: bold;
  }
  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
  .load-game .two-col {
    margin: auto;
    right: 0;
    left: 0%;
    padding: 0.6rem;
    bottom: 0;
  }
  
  /* media query */
  @media (min-aspect-ratio: 16/9) {
    .video-foreground {
      height: 300%;
      top: -100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground {
      width: 300%;
      left: -100%;
    }
  }
  /* media query */
  @media screen and (max-width: 1800px) {
    .option-container .two-cols {
      gap: 100px;
    }
  }
  
  @media screen and (max-width: 1700px) {
    .bonuses-container .two-cols {
      gap: 0px;
    }
  }
  @media screen and (max-width: 1500px) {
    .bonuses-container .right-col {
      width: 65%;
    }
  }
  @media screen and (max-width: 1300px) {
    .load-container .save-slot {
      width: 100%;
    }
  }
  @media screen and (max-width: 1000px) {
    .load-container {
      width: 80%;
    }
  }
  